<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AVScanAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="Password" value="password@8" />-->
    <add key="Password" value="gMEEfK/SqQKTvOT0xsFUay+CisV1165qdT8TrhEJJN0=" />
  </appSettings>
  <AVScanAppSettings>
    <add key="AwsAccessKeyId" value="password@8" />
    <add key="AwsSecretKey" value="password@8" />
  </AVScanAppSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>