<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="AwsBaseUri" value="http://localhost:5000" />
		<add key="AwsLoginEndpoint" value="/api/tokens" />
		<add key="AwsVirusScanEndpoint" value="/api/personal/virusscanning" />
		<!-- @MN 2022-07-05: Virus Scan Enable/Disable (1:Enable, 0:Disable) [BEGIN] -->
		<add key="VirusScanEnable" value="1" />
		<!-- @MN 2022-07-05: Virus Scan Enable/Disable (1:Enable, 0:Disable) [END] -->
		<!-- @MN 2022-07-05: AWS Secrets Management [BEGIN] -->
		<add key="AwsAccessKeyId" value="k9EbFSPVtI6KoeF7dSkfy9vAwjWB0RdMO698aIMAaUo=" />
		<add key="AwsSecretAccessKey" value="Iugl8HC/5H2hcGrL26n0Gjca4DZDztObtazS0Ffl8ro=" />
		<!-- @MN 2022-07-05: AWS Secrets Management [END] -->
	</appSettings>
	<system.diagnostics>
		<!-- INTERNAL 2018-09-21 @KSL: +log4net for threaded logging / debugging [BEGIN] (debug/trace log4net)
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WebSrvLog\log4net.trace.txt" />
      </listeners>
    </trace>
    INTERNAL 2018-09-21 @KSL: +log4net for threaded logging / debugging [BEGIN] (debug/trace log4net) -->
	</system.diagnostics>
	<!-- INTERNAL 2018-09-21 @KSL: +log4net for threaded logging / debugging [BEGIN] -->
	<!-- https://thirdsight.net/3s/?xmail-id=712da982-4216-44da-bb05-35e9f5ff5773&wkspc-id=1712 -->
	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<!-- Define some output appenders -->
		<!--
      https://logging.apache.org/log4net/log4net-1.2.13/release/sdk/log4net.Layout.PatternLayout.html
      %c.%M() : EventLog.logGetBASMsgsByWkSpcsID()
      [%l]    : [EventLog.logGetBASMsgsByWkSpcsID(G:\website\3sBackUp2\App_Code\EventLog.vb:694)]
      <conversionPattern value="[${COMPUTERNAME}] %d{ISO8601} %6r %-5p [%t] %l - %m%n" />
    -->
		<!-- INTERNAL Foresight log4net: RollingLogFileAppender, LogFileAppender -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\debug-rolling.log" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="200000" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<PreserveLogFileNameExtension value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<!--conversionPattern value="%date [%9thread] %-5level %-42logger{2} - %message%newline" /-->
				<conversionPattern value="%date [%4thread] %-5level %30logger{1}.%-25method %message%newline" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="logs\debug-appending.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
			</layout>
		</appender>
		<!-- INTERNAL Foresight log4net: RollingLogFileAppender, LogFileAppender -->
		<!-- INTERNAL log4net for threaded logging / debugging [BEGIN] -->
		<appender name="DailyRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<threshold value="ALL" />
			<file value="logs\traceroll.day.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[${COMPUTERNAME}] %d{ISO8601} %6r %-5p [%t] %c.%M() - %m%n" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<threshold value="ALL" />
			<file value="logs\traceroll.roll.log" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="120" />
			<maximumFileSize value="20MB" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<PreserveLogFileNameExtension value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[${COMPUTERNAME}] %d{ISO8601} %6r %-5p [%t] %c.%M() - %m%n" />
			</layout>
		</appender>
		<!-- INTERNAL 2018-09-21 @KSL: +log4net for threaded logging / debugging [END] -->
		<!-- Setup the root category, add the appenders and set the default level -->
		<root>
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="DailyRollingFileAppender" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<!-- INTERNAL 2018-09-21 @KSL: +log4net for threaded logging / debugging [END] -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>