<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="aVScanAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <aVScanAppSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAApozXxvPhOk6a0q1njevIigQAAAACAAAAAAAQZgAAAAEAACAAAABBnMYoTkYxp9FidnwJQ8PYVEzNCC+LUwaIPX49eFZEQgAAAAAOgAAAAAIAACAAAABVA6KWNNr/My3l0neJ+w76ImGRE0iTngb68cVlX3Gi4VABAAAbsB5jWstKGbuOipmxDxn+K2dEdQtGipGDjIYlF+3/cPfTU6IHfdrjrNZzTipaMY3vTEd1ds7foXbxrIAIBtVvu3EK+nnLNy7wFeNzbCj85TRTrz4UbVphJzOiwqSMsLgdy25LTlpqrP5Z4wFjc9VdZXRAC/QPs0KDQ46G7VYkWv4IsvyNLUSpQSyvmYdjCnvOIfGC5vAFjeoXL8hu7C5q2Dn+Qzbje0FDPVMnn/XOggF2YHT2Cm3mtkbaoX/q/U2NyYsFi6rUonaflgFLOIBVt1R3TiKYaiiwqINQPQzWi9rDzm4DyBE3/Lb/cgvIDU1BUPIPnDoi9ng69GKKZqMbMlCF0ge4MhMA9p81obttySj9EgnnkY8M1E7bxtRbFkYR06gHNdtZ/M1xmX7Ft3aW+qSpLrMSZ+EKXSB9/e+t35FsKHPFgJMgzDopXJX2eGRAAAAA9ylzBzZWg8NsSWMXh33V8uRxnjFv909bUkIN0KAzCr5xVgoOqXZ1/JEDPSkKqD/26E9gcPf8G9Pn94XMz2Vshw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </aVScanAppSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <connectionStrings>
    <clear />
    <add name="DBConnectionString"
         connectionString="xmaildatabase=MsSql;Data Source=.;Integrated Security=True;Initial Catalog=mssql;Connect Timeout=30;Pooling=True" />
    <add name="FSBackend.RepoMgr.Properties.Settings.DBConnStr"
       connectionString="Data Source=.;Integrated Security=True;Initial Catalog=mssql;Connect Timeout=30;Pooling=True" />
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>